a.button.button-primary{
    color: black;
    background-color: lightgray;
    border: none;
}

a.button.button-primary:hover{
    color: black;
    background-color: lightgray;
    border: none;
}

.wrapper {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    margin-bottom: 0px;
    margin-right: 20px; 
}

.wrapper2 {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
    margin-bottom: 0px;
    margin-right: 5%;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 1;
    margin-left: 98%; 
     
}

.wrapper3 {
    margin-bottom: 15px;
}

#map{
    display:block;
    /*margin-left:auto;
    margin-right: auto;*/
    margin-top:10px;
    margin-bottom: 15px;
    height: 80vh;
    width: 90%;
    outline-color: dimgrey;
    outline-style: solid;
    outline-width: 2px;
    float: center;
    margin-left: 5%;
    margin-right: 5%;
}

#map11{
    display:block;
    /*margin-left:auto;
    margin-right: auto;*/
    margin-top:10px;
    margin-bottom: 15px;
    height: 80vh;
    width: 50%;
    outline-color: dimgrey;
    outline-style: solid;
    outline-width: 2px;
    float: left; 
}

#map16{
    display:block;
    /*margin-left:auto;
    margin-right: auto;*/
    margin-top:10px;
    margin-bottom: 15px;
    height: 80vh;
    width: 50%;
    outline-color: dimgrey;
    outline-style: solid;
    outline-width: 2px;
    float: left;
   
}

/* The container <div> - needed to position the dropdown content */

.button {
    background-color: white;   
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right:0; 
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.info{
    padding: 6px 8px;
    font: 14px/16px;
    background: white;
    border-radius: 3px;
    border: 1px solid dimgrey;   
}

.info h5{
    width: 180px;
    margin: 0 0 5px;
    text-align: center;
}

.info_Left{
    padding: 6px 8px;
    font: 14px/16px;
    background: white;
    border-radius: 3px;
    border: 1px solid dimgrey;   
}

.info_Left h5{
    width: 180px;
    margin: 0 0 5px;
    text-align: center;
}

.legend {
    padding: 0px 0px;
    border-radius: 3px;
    border:1px solid dimgrey;
}

.legend label {
    display:block;
    float:left;
    height:15px;
    width:55px;
    text-align:center;
    font-size:9px;
    color:#000000;
}

.legend span {
    display:block;
    float:left;
    height:20px;
    width:20%;
    opacity:0.7;
}

.labelClass{
  white-space:nowrap;
 /*text-shadow: 0 0 0.1em black, 0 0 0.1em black,
        0 0 0.1em black,0 0 0.1em black,0 0 0.1em;*/
  color: #f03b20;
    background-color: black;
}



