.countries {
    fill: none;
}

.state-borders {
	fill: none;
	stroke: #fff;
	stroke-linejoin: round;
	stroke-linecap: round;
}

.q0-9 {fill:rgb(247,251,255); }
.q3-9 {fill:rgb(198,219,239);}
.q4-9 {fill:rgb(107,174,214); }
.q5-9 {fill:rgb(33,113,181);}
.q6-9 {fill:rgb(8,48,107);}